body {
    background-color : rgb(133, 133, 163)
}
body{
    background-color : rgb(118, 118, 138)
}

h1 {
    color : rgb(0,0,257)
}
h2 {
    color : rgb(143, 102, 189)
}
h3 {
    color : rgb(0,0,257)
}

head {
    background-color : rgb(199, 128, 48)
}

